@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    background-color: #feede8;
}

nav{
    font-weight: bolder;
}

footer{
    font-weight: bolder;
}

#cta{
    font-weight: bolder;
    background-image: url('../assets/BackgroundLines.png');
    background-repeat: no-repeat;
    background-position: -20% top;
}